<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<behaviors>
   <serviceBehaviors>
    <behavior name="MetadataAndDebug">
     <serviceMetadata />
     <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
  <bindings />
  <services>
   <service behaviorConfiguration="MetadataAndDebug" name="JustDeploy.DeploymentAgentLib.AgentService">
    <clear />
    <endpoint address="net.tcp://localhost:8123/agent" binding="netTcpBinding"
     name="tcp" contract="JustDeploy.DeploymentAgentLib.IAgentService"
     listenUriMode="Explicit" />
    <endpoint address="net.tcp://localhost:8123/mex" binding="mexTcpBinding"
     bindingConfiguration="" name="mex" contract="IMetadataExchange" />
   </service>
  </services>
	</system.serviceModel>
</configuration>