<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<behaviors>
   <serviceBehaviors>
    <behavior name="Metadata">
     <serviceMetadata />
    </behavior>
   </serviceBehaviors>
  </behaviors>
  <bindings />
  <services>
   <service behaviorConfiguration="Metadata" name="JustDeploy.DeploymentAgent.MyCoolService">
    <clear />
    <endpoint address="net.tcp://localhost:8123/agent" binding="netTcpBinding"
     name="tcp" contract="JustDeploy.DeploymentAgent.IMyCoolService"
     listenUriMode="Explicit">
    </endpoint>
    <endpoint address="net.tcp://localhost:8123/mex" binding="mexTcpBinding"
     bindingConfiguration="" name="mex" contract="IMetadataExchange" />
   </service>
  </services>
	</system.serviceModel>
</configuration>