<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="FileTransferPath" value="C:\Temp" />
	</appSettings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MetadataAndDebug">
					<serviceMetadata/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
			<!--<endpointBehaviors>
				<behavior name="EndpointBehavior.LargeObjectGraph">
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</endpointBehaviors>-->
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="TcpBindingConfig.LargeMessageStream" maxReceivedMessageSize="2147483647" transferMode="Streamed"/>
			</netTcpBinding>
			
		</bindings>
		<services>
			<service behaviorConfiguration="MetadataAndDebug" name="JustDeploy.DeploymentAgentLib.AgentService">
				<clear/>
				<endpoint address="net.tcp://localhost:8123/agent" binding="netTcpBinding" name="agentEndpoint" contract="JustDeploy.DeploymentAgentLib.IAgentService" />
				<endpoint address="net.tcp://localhost:8123/transfer" binding="netTcpBinding" bindingConfiguration="TcpBindingConfig.LargeMessageStream" name="transferEndpoint" contract="JustDeploy.IO.WcfFileTrans.IFileService" />
				<endpoint address="net.tcp://localhost:8123/mex" binding="mexTcpBinding" bindingConfiguration="" name="mex" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>

	<!--<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="serviceBehavior" name="FileTransferService">
				<endpoint address="" name="basicHttpStream" binding="basicHttpBinding"
				          bindingConfiguration="httpLargeMessageStream" contract="IFileTransferService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="httpLargeMessageStream" maxReceivedMessageSize="2147483647" transferMode="Streamed"
				         messageEncoding="Mtom" />
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
